.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -60px;
}

.passwort-inputs {
    display: flex;
    gap: 5px;
}


.psw-in {
    height: 60px;
    width: 40px;
    font-size: 2rem;
    text-align: center;
}

.btn-leave {
    padding: 12px 24px !important;
    font-size: 0.9rem !important;
    margin: 10px;
}

#dots {
    position: fixed;
    display: block;
    white-space: pre;
    margin: 0 145px;
}
