* {
    font-family: "Roboto Mono", serif;
}

body {
    margin: 0;
    background-color: hsl(225, 30%, 20%);
}

.main-button {
    border: none;
    background-color: hsl(226, 61%, 45%);
    color: white;
    font-weight: bold;
}

.main-button:hover {
    background-color: hsl(226, 61%, 55%);
}

.main-button:active {
    background-color: hsl(226, 61%, 65%);
}

.secondary-button {
    border: 2px solid hsl(0, 0%, 85%);
    color: hsl(0, 0%, 85%);
    background-color: rgba(0, 0, 0, 0);
}

.secondary-button:hover {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

button {
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 25px;
    font-size: 1rem;
}

button:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    transform: scale(1.1);
}

.main-button:disabled {
    background-color: hsl(226, 20%, 45%);
    color: hsl(0, 0%, 70%);
    cursor: default;
    transform: scale(1);
}

h1,
h2,
h3,
h4,
h5 {
    color: hsl(0, 0%, 85%);
}

.hidden {
    display: none !important;
}

#highlight span {
    background-color: hsl(226, 61%, 75%);
}

.secondary-button:disabled {
    border: 2px solid hsl(0, 0%, 65%);
    color: hsl(0, 0%, 65%);
    background-color: rgba(0, 0, 0, 0);
}