* {
    font-family: "Roboto Mono", serif;
}

body {
    margin: 0;
    background-color: hsl(225, 30%, 20%);
}

.main-button {
    border: none;
    background-color: hsl(226, 61%, 45%);
    color: white;
    font-weight: bold;
}

.main-button:hover {
    background-color: hsl(226, 61%, 55%);
}

.main-button:active {
    background-color: hsl(226, 61%, 65%);
}

.secondary-button {
    border: 2px solid hsl(0, 0%, 85%);
    color: hsl(0, 0%, 85%);
    background-color: rgba(0, 0, 0, 0);
}

.secondary-button:hover {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}

button {
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 25px;
    font-size: 1rem;
}

button:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    transform: scale(1.1);
}

.main-button:disabled {
    background-color: hsl(226, 20%, 45%);
    color: hsl(0, 0%, 70%);
    cursor: default;
    transform: scale(1);
}

h1,
h2,
h3,
h4,
h5 {
    color: hsl(0, 0%, 85%);
}

.hidden {
    display: none !important;
}

#highlight span {
    background-color: hsl(226, 61%, 75%);
}

.secondary-button:disabled {
    border: 2px solid hsla(0, 100%, 80%, 0.8) !important;
    color: hsla(0, 100%, 80%, 0.8) !important;
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1) !important;
    cursor: default;
}

.errortext {
    text-align: center;
    font-size: 0.75rem;
    color: hsla(0, 100%, 80%, 0.8);
}

.playerTurn {
    background-color: hsl(225, 30%, 50%);
    padding: 20px 10px;
    border-radius: 20px;
    text-align: center;
}

#titleDealerHand {
    text-align: center;
}


#dealerHand {
    display: grid;
    grid-template-columns: repeat(5, minmax(80px, 1fr)); 
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#dealerHand img {
    width: 100%; 
    height: auto; 
    border-radius: 16px; 
    clip-path: inset(1px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media (max-width: 1024px) {
    #dealerHand {
        grid-template-columns: repeat(4, minmax(80px, 1fr)); /* Bei kleineren Bildschirmen 4 Spalten */
    }
}

@media (max-width: 768px) {
    #dealerHand {
        grid-template-columns: repeat(3, minmax(80px, 1fr)); /* Bei kleineren Bildschirmen 3 Spalten */
    }
}